<?xml version="1.0"?>
<launch>

    <!-- Kinect-specific arguments -->
    <arg name="alsadevnum" default="1"/>
    <arg name="n_channels" default="1" />
    <arg name="channel_idx" default="0" />
    <arg name="bitrate" default="128" />

    <!-- Load parameter config file -->
    <arg name="config_path" default="config/kinect_example.yaml" />
    <rosparam command="load" file="$(find hri_audition)/$(arg config_path)" ns="audio"/>

    <!-- Launch signal acquisition node -->
    <include file="$(find audio_capture)/launch/capture_wave.launch">
        <arg name="device" value="$(arg alsadevnum)"/>
        <arg name="channels" value="$(arg n_channels)" />
        <arg name="bitrate" value="$(arg bitrate)" />

    </include>

    <!-- Launch feature extraction node -->
    <!-- <node name="feature_extraction_node" pkg="hri_audition" type="feature_extraction_node.py" output="screen" ns="audio">
        <param name="n_channels" value="$(arg n_channels)" />
    </node> -->

</launch>